@import "../SCSS/estilos-index.scss";
@import "../SCSS/variables.scss";





/*FUENTES*/
@font-face {
    font-family: 'Roboto Mono';
    src: url(../fonts/RobotoMono.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/Quicksand.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}




/* ESTILOS GENERALES */

* {

margin: map-get($reset , margin);
padding: map-get($reset , padding );
font-size: map-get($reset , font-size );
}

body {
    width: 100%;
    height: 100vh;
}